# {{ ansible_managed }}

upstream {{ app_nginx_upstream }} {
    {% if app_nginx_ip_hash -%}
    ip_hash;
    {% endif %}

    {% for host in groups[app_group] -%}
    {% for port in hostvars[host]['app_ports'] -%}
    {% for k,v in port.iteritems() -%}
    {% if v -%}
        server {% if v[0].HostIp == "0.0.0.0" -%}{{ hostvars[host]['ansible_default_ipv4']['address']  }}{% else -%}{{ v[0].HostIp  }}{% endif %}:{{ v[0].HostPort  }};
    {% endif %}
    {% endfor %}
    {% endfor %}
    {% endfor %}
}

server {
    listen       {{ app_nginx_port }};
    server_name  {{ app_hostname }} _ "" ;

    proxy_buffering off;
    proxy_store     off;
    proxy_cache     off;

    location ~* / {
        proxy_set_header  				Host $host;
        proxy_set_header  				X-Forwarded-Server $host;
        proxy_set_header  				X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_pass_header 				X-Accel-Redirect;
        proxy_set_header  				X-Real-IP $remote_addr;
        proxy_buffer_size   			128k;
        proxy_buffers   					4 256k;
        proxy_busy_buffers_size   256k;

        proxy_pass                http://{{ app_nginx_upstream }} ;

        access_log                /var/log/nginx/{{ app_name }}.access.log;
        error_log                 /var/log/nginx/{{ app_name }}.error.log;

    }

}
